.feed-main {
    display: flex;
    flex-direction: row;
}

.feed-primary-section {
    flex: 3;
    display: flex;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
}

.feed-box {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 75%;
    overflow-y: auto;
    gap: 40px;
}

.feed-story-box {
    background-color: rgba(210, 210, 210, .9);
    padding: 15px;
    border-radius: 10px;
}

.feed-story-likes-comments {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 25px;
}


.feed-like-section {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: end;
}

.feed-like-section h4 {
    margin: 0;
}

.feed-like-section button, .comment-button {
    border-radius: 10px;
}

.feed-aside {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-image: url(../../public/Scroll_Plain.jpeg);
    overflow-y: auto;
    padding: 25px;
    padding-top: 20px;
}

.feed-comment {
    padding: 15px;
}

.feed-comment-section {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.feed-comment-section-title{
    text-decoration: underline;
    padding-bottom: 5px;
}

.feed-scrollable {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.feed-create-comment-section {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.feed-create-comment-section h3 {
    text-decoration: underline;
}

.feed-comment-option-select button {
    border-radius: 5px;
    background-color: rgb(200, 180, 130);
}

.feed-typed-comment {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}

.feed-gif-comment {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}

.feed-col-flex {
    display: flex;
    flex-direction: column;
}

.feed-typed-comment button{
    border-radius: 5px;
    background-color: gold;
    width: 30%;
}

.feed-gif-comment button{
    border-radius: 5px;
    background-color: gold;
    width: 30%;
}

.feed-comment-option-select p {
    padding: 0;
    margin: 0;
    font-size: 18px;
}

.feed-comment-navigation {
    margin-bottom: 10px;
}

.feed-comment-navigation button {
    background-color: rgb(210, 190, 140);
}

.feed-comment-navigation button * {
    margin: 0;
    padding: 5px;
}

.feed-sized-gif {
    width: 70%;
    height: auto;
}

@media (max-width: 700px) {
    .feed-aside {
        display: none !important;
    }
    .feed-main {
        width: 100vw;
    }
}

.feed-textarea {
    width: 100%;
    height: 500px;
}