.write-story-main {
    flex-direction: column;
}

.write-story-center-container {
    margin: 30px;
    align-items: center;
    height: 100%;
    width: 70%;
    background-image: url(../../public/Scroll_Plain.jpeg);
    overflow-y: auto;
} 

.write-story-center-container > * {
    margin: 2em;
}

.write-story-subheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.write-story-title-box {
    margin-bottom: 30px;
}

.write-story-summary-and-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.write-story-summary-label {
    flex: 2;
}

.write-story-post-story-button {
    display: flex;
    flex: 1;
    justify-content: center;
    font-size: 1.2em;

}

.write-story-post-story-button button {
    width: 150px;
    background-color: gold;
}

.write-story-write-page-subtitle h2 {
    font-size: 2.3em;
}

.write-story-textarea {
    width: 100%;
    height: 350px;
}