body {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-image: url(/Images/forrest.jpeg);
    background-position: center;
}

main {
    display: flex;
    flex: 10;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    font-family: 'Trebuchet MS', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    background-color: tan;
    flex: 1;
    justify-content: center;
    font-family: 'Trebuchet MS', sans-serif;
}

.title-and-name {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.name {
    display: flex;
    justify-content: flex-start;
}

.name p {
    padding: 7px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 5px;
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 1.1rem;
    padding-bottom: 7px;
}

.navigation * {
    color: black;
    background-color: rgb(190, 170, 120);
    text-decoration: none;
}

footer {
    display: flex;
    flex: 1;
    background-color: tan;
    font-family: 'Trebuchet MS', sans-serif;
}

.git-repo-link {
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    align-items: center;
    gap: 10px;
}

.git-repo-link * {
    display: flex;
    margin: 0;
}


@media (max-height: 550px) {
    header {
        display: none;
    }
    footer {
        display: none;
    }
    body {
        height: 100vh;
        width: 100vw;
    }
}
